.articles-container {
  padding-top: 50px;
  padding-bottom: 100px;
}

.article-controls {

}

.add-new-btn {
  width: 40px;
  height: 40px;
  align-self: center;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  margin-right: 10px;
}

.articles-list {
  margin-top: 30px;
}