.header-component {
  background-color: var(--background-dark-layer-3);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  font-weight: 900;
  font-size: 150%;
}

.link {
  padding: 0px 5px;
  transition: 0.3s color;

  &:hover {
    color: var(--accent-blue);
  }

  &.active {
    color: var(--accent-blue);
  }
}

.auth {
  display: flex;
  align-items: center;
}

.auth-btn {
  padding: 0px 5px;
  transition: 0.3s color;

  &:hover {
    color: var(--accent-blue);
  }
}