.article-container {
  padding: 15px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: flex-start;

  + .article-container {
    margin-top: 20px;
  }
}

.article-delete-btn {
  width: 40px;
  height: 40px;
  flex: 0 0 40px;
  align-self: center;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  margin-right: 10px;
}

.article-image-wr {
  width: 200px;
  height: 200px;
  flex: 0 0 200px;
  border-radius: 8px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.article-content {
  margin-left: 10px;
  flex-grow: 1;
}

.article-title-line {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.article-title {
  font-size: 24px;
}

.article-created-at {
   
}

.article-text {
  margin-top: 10px;
}