.add-article-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.article-img-wr {
  width: 38%;
  height: 400px;
  flex: 0 0 38%;
  position: relative;
  background-color: var(--grey-placeholder);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  input {
    width: 0px;
    height: 0px;
    opacity: 0px;
  }
}

.image-placeholder {
  font-size: 24px;
}

.upload-btn {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.article-configs {
  flex-grow: 1;
  margin-left: 20px;
}

.topic-select {
  min-width: 200px;
}