.preloader {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader-bg {
  background-color: var(--transparent-background-dark);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.preloader-icon {
  z-index: 1;
  max-width: 100%;
  max-height: 100%;
  width: 50px;
}