:root {
  --accent-blue: blue;
  --background-dark-layer-1: #1f1f1f;
  --background-dark-layer-2: #252525;
  --background-dark-layer-3: #2b2b2b;
  --font-color-main: #cecece;
  --transparent-background-dark: rgba(0, 0, 0, 0.5);
  --box-shadow: 0 0 10px 0px #7e7e7e;
}